<nav class="py-3 mb-4 border-bottom | navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand | display-6 fw-bold |" href="#">Blog It</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse | d-lg-none | " id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 | d-lg-none | ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>