<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Added Meta Tags -->
  <meta name="author" content="Ejemen Iboi">
  <meta name="description" content="Blog It">
  <!-- Open Graph Protocol -->
  <meta property="og:title" content="Blog It">
  <meta property="og:type" content="website">
  <meta property="og:url" content="www.google.com">
  <meta property="og:description" content="A Blog web application that allows users to create and view blog posts. Built using Node.js, Express.js, and EJS.">
  <meta property="og:image" content="https://www.imghippo.com/images/1703977498.png">
  <!-- Link favicon icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="/favicon_io/site.webmanifest">

  <!-- Title -->
  <title>Blog It</title>
  <!-- Link CSS file -->
  <link rel="stylesheet" href="/style/style.css">
</head>
<body>
  <h1>Hello</h1>
</body>
</html>