<section class="container w-75 pb-5 m-auto">
  <form action="/submit" method="post" class="row | flex-column gap-2 justify-content-start align-items-start">
    <div class="w-100 | row | flex flex-row d-lg-flex justify-content-between align-items-center">
      <h2 class="form-label | col-9 | fw-medium">Enter Blog Post</h2>
      <button type="submit" class="w-100px | btn btn-primary | col-3">Post</button>
    </div>
    
    <div class="col-12">
      <label for="blog_post_title" class="form-label | fw-medium">Title</label>
      <input type="text" class="form-control" id="blog_post_title" name="blog_post_title">
      
      <label for="blog_post_content" class="form-label | fw-medium">Content</label>
      <input type="text" class="form-control" id="blog_post_content" name="blog_post_content">
      
      <label for="blog_post_date" class="form-label | fw-medium">Date</label>
      <input type="date" class="form-control" id="blog_post_date" name="blog_post_date">
    </div>
  </form>
</section>

<section class="w-75 m-auto | card text-center">
  <% if (locals.title && locals.content) { %>
    <h4 class="card-header">
      <%= title %>
    </h4>
    <article class="card-body">
      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <p class="card-text"><%= content %></p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </article>
    <div class="card-footer text-muted">
      <%= date %>
    </div>
  <% } else { %>
    <h1>No Posts</h1>
  <% } %>
</section>